@{
    /**/

    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12 col-lg-6" id="container"></div>
    <div class="col-12 col-lg-6" id="container1"></div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card h-100">
            <h4 class="card-header">Responsabilities</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <h4 class="card-header">Regions</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More...</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <h4 class="card-header">Countries</h4>
            <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">More...</a>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    // Prepare demo data
    // Data is joined to map using value of 'hc-key' property by default.
    // See API docs for 'joinBy' for more info on linking data and map.
    var data = [
        ['gl', 0],
        ['lc', 1],
        ['um', 2],
        ['us', 3],
        ['vi', 4],
        ['ca', 5],
        ['cu', 6],
        ['kn', 7],
        ['ni', 8],
        ['gd', 9],
        ['dm', 10],
        ['ag', 11],
        ['tt', 12],
        ['sw', 13],
        ['bb', 14],
        ['jm', 15],
        ['bu', 16],
        ['bs', 17],
        ['vc', 18],
        ['ht', 19],
        ['sv', 20],
        ['hn', 21],
        ['do', 22],
        ['mx', 23],
        ['bz', 24],
        ['gt', 25],
        ['cr', 26],
        ['pr', 27],
        ['pa', 28]
    ];

    // Create the chart
    Highcharts.mapChart('container', {
        chart: { map: 'custom/north-america' },
        title: { text: '' },
        credits: { enabled: false },
        subtitle: { text: '<a href="http://code.highcharts.com/mapdata/custom/north-america.js">North/Central America</a>' },
        mapNavigation: {
            enabled: true,
            buttonOptions: { verticalAlign: 'bottom' }
        },
        colorAxis: { min: 0 },
        series: [{
            data: data,
            name: '#Members',
            states: {
                hover: { color: '#BADA55' }
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }]
    });

    // Prepare demo data
    // Data is joined to map using value of 'hc-key' property by default.
    // See API docs for 'joinBy' for more info on linking data and map.
    var data1 = [
        ['br', 0],
        ['ec', 1],
        ['ve', 2],
        ['cl', 3],
        ['ar', 4],
        ['pe', 5],
        ['uy', 6],
        ['py', 7],
        ['bo', 8],
        ['sr', 9],
        ['gy', 10],
        ['gb', 11],
        ['co', 12]
    ];

    // Create the chart
    Highcharts.mapChart('container1', {
        chart: { map: 'custom/south-america'  },
        credits: { enabled: false },
        title: { text: '' },
        subtitle: { text: '<a href="http://code.highcharts.com/mapdata/custom/south-america.js">South America</a>' },
        mapNavigation: {
            enabled: true,
            buttonOptions: { verticalAlign: 'bottom' }
        },
        colorAxis: { min: 0 },
        series: [{
            data: data1,
            name: '#Members',
            states: {
                hover: { color: '#BADA55' }
            },
            dataLabels: {
                enabled: true,
                format: '{point.name}'
            }
        }]
    });

</script>
}

